* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: hsr;
  font-weight: 400;
}

body {
  background-color: #E9EBEE;
}

.bad-input {
  border: 1.5px solid #8B0300 !important;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

@font-face {
  font-family: hsr;
  src: url("/assets/fonts/HelvSR.woff");
}

@font-face {
  font-family: facebooklogo;
  src: url("/assets/fonts/FACEBOLF.otf");
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size: 18px;
}
::-moz-placeholder { /* Firefox 19+ */
  font-size: 18px;
}
:-ms-input-placeholder { /* IE 10+ */
  font-size: 18px;
}
:-moz-placeholder { /* Firefox 18- */
  font-size: 18px;
}



/* auth page ============================================= */
.header-gradient {
    background-color: #3d578d;
    /* IE9, iOS 3.2+ */
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjEwMCUiIHgyPSIwJSIgeTI9IjAlIj48c3RvcCBzdG9wLWNvbG9yPSIjMzA0ODdiIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiM0YTY2OWYiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI3ZzZ2cpIiAvPjwvc3ZnPg==);
    background-image: -webkit-gradient(linear, 0% 100%, 0% 0%,color-stop(0, rgb(48, 72, 123)),color-stop(1, rgb(74, 102, 159)));
    /* Android 2.3 */
    background-image: -webkit-linear-gradient(bottom,rgb(48, 72, 123) 0%,rgb(74, 102, 159) 100%);
    /* IE10+ */
    background-image: linear-gradient(to top,rgb(48, 72, 123) 0%,rgb(74, 102, 159) 100%);
    background-image: -ms-linear-gradient(bottom,rgb(48, 72, 123) 0%,rgb(74, 102, 159) 100%);
}

/* IE8- CSS hack */
@media \0screen\,screen\9 {
    .header-gradient {
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff4a669f",endColorstr="#ff30487b",GradientType=0);
    }
}

.main-gradient {
    background-color: #e9ecf4;
    /* IE9, iOS 3.2+ */
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjEwMCUiIHgyPSIwJSIgeTI9IjAlIj48c3RvcCBzdG9wLWNvbG9yPSIjZDRkOWU4IiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiNmZWZmZmYiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI3ZzZ2cpIiAvPjwvc3ZnPg==);
    background-image: -webkit-gradient(linear, 0% 100%, 0% 0%,color-stop(0, rgb(212, 217, 232)),color-stop(1, rgb(254, 255, 255)));
    /* Android 2.3 */
    background-image: -webkit-linear-gradient(bottom,rgb(212, 217, 232) 0%,rgb(254, 255, 255) 100%);
    /* IE10+ */
    background-image: linear-gradient(to top,rgb(212, 217, 232) 0%,rgb(254, 255, 255) 100%);
    background-image: -ms-linear-gradient(bottom,rgb(212, 217, 232) 0%,rgb(254, 255, 255) 100%);
}

/* IE8- CSS hack */
@media \0screen\,screen\9 {
    .main-gradient {
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fffeffff",endColorstr="#ffd4d9e8",GradientType=0);
    }
}




#auth-logo {
  position: absolute;
  bottom: 0px;
  color: white;
  font-family: facebooklogo;
  font-size: 2.5em;
  margin-bottom: 10px;
}

#auth-header {
  position: relative;
  height: 85px;
}

.auth-content-container {
  width: 1000px;
  height: 85px;
  margin: 0 auto;
  position: relative;
}

#auth-login-form {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 40%;

  font-size: 12px;
  color: white;
  padding-bottom: 18px;
}

#auth-login-email {
  float: left;
  width: 44%
}

#auth-login-email input{
  float: left;
  width: 160px;
}

#auth-login-password {
  float: left;
  width: 44%
}

#auth-login-password input {
  width: 160px;
}

#auth-login-button {
  float: left;
  width: 12%;
}

#auth-login-button button {
  width: 50px;
  position: absolute;
  bottom: 18px;
  color: white;
  font-weight: bold;
  background-color: #4267B2;
  border: 2px solid #29487D;
}

#auth-main {
  height: 600px;
}

#auth-main-content {
  height: 600px;
}

#auth-main-image-container {
  width: 55%;
  height: 100%;
  float: left;
  padding-top: 50px;
  text-align: center;
}

#auth-main-image-container h2 {
  font-style: italic;
  color: #3b5998;
  font-size: 28px;
}

#auth-main-image-container h3 {
  font-style: italic;
  font-size: 20px;
  color: #1d2129
}

#auth-main-signup-form {
  width: 45%;
  float: left;
  padding-top: 25px;
}

#auth-main-signup-form input {
  border: 1px solid #BDC7D8;
  padding-left: 15px;
  font-size: 18px;
}

#auth-main-signup-form h1 {
  font-size: 36px;
  color: #333333;
  font-weight: bolder;
  margin-bottom: 10px;
}

#auth-main-signup-form h2 {
  margin-bottom: 20px;
  font-size: 19px;
  color: #1d2129;
}

#auth-main-signup-form h3 {
  font-size: 18px;
  color: #1d2129;
}

#auth-signup-firstname {
  width: 49%;
  height: 40px;
  border-radius: 5px;
  margin-right: 2%;
  margin-bottom: 6px;
}

#auth-signup-lastname {
  width: 49%;
  height: 40px;
  border-radius: 5px;
}

#auth-signup-email {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  margin-bottom: 6px;
}

#auth-signup-reenter-email {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  margin-bottom: 6px;
}

#auth-signup-password {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  margin-bottom: 12px;
}

#auth-main-signup-form select {
  height: 30px;
  margin-bottom: 12px;
  margin-top: 12px;
  margin-right: 5px;
}

.auth-signup-radio {
  margin: 0 5px 12px 15px;
}

#auth-main-signup-form span {
  font-size: 18px;
  color: #1d2129;
}

#auth-signup-button {
  border-radius: 5px;
  background-color: #63A350;
  width: 195px;
  height: 40px;
  font-size: 19px;
  font-weight: bolder;
  color: white;
}

#auth-footer {
  position: relative;
  height: 160px;
}

#auth-footer-languages {
  padding-top: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #DDDFE2;
}

#auth-footer li{
  display: inline;
  color: #365899;
  font-size: 12px;
  margin-right: 10px;
}

.auth-footer-links-col {
  float: left;
  padding-top: 10px;
  padding-right: 10px;
}

.auth-footer-links-col li {
  display: block !important;
  margin-bottom: 3px;
}

/* feed page header ======================================================================= */
.content-main {
  padding-top: 42px;
  background-color: #E9EBEE;
}

#feed-header {
  position: fixed;
  width: 100%;
  height: 42px;
  background-color: #3B5998;
  z-index: 9999999;
}

.feed-header-content-container {
  width: 1000px;
  height: 42px;
  margin-left: 18%;
  position: relative;
}

#feed-header-searchbar {
  height: 42px;
  width: 50%;
  float: left;
}

#feed-header-searchbar i {
  font-size: 32px;
  margin-top: 5px;
}

#feed-header-searchbar input {
  position: absolute;
  height: 24px;
  width: 400px;
  margin-left: 7px;
  margin-top: 10px;
  border-radius: 3px;
  border: none;
}

#feed-header-searchbar button {
  height: 24px;
  width: 50px;
  position: absolute;
  margin-left: 404px;
  margin-top: 10px;
  background-color: #E9EBEE;
  border: none;
  border-radius: 3px;
}

#feed-header-searchbar img {
  height: 15px;
  margin-top: 3px;
}

#feed-header-menu {
  height: 42px;
  width: 50%;
  float: left;
  padding-top: 10px;
  padding-left: 150px;
}

#feed-header-menu-pic-name {
  float: left;
  height: 22px;
  display: flex;
  align-items: center;
}

#feed-header-menu-pic-name img {
  height: 25px;
  width: 25px;
}

#feed-header-menu-pic-name h3 {
  font-size: 12px;
  font-weight: 700;
  color: white;
  margin-left: 7px;
  margin-right: 15px;
}

#feed-header-menu-home {
  float: left;
  display: flex;
  align-items: center;
}

#feed-header-menu-home h3 {
  font-size: 12px;
  font-weight: 700;
  color: white;
  margin-left: 15px;
  margin-right: 40px;
  margin-top: 3px;
}

#divider {
  display: inline-block;
  width: 0;
  height: 1em;
  border-left: 1px solid #355089;
  border-right: 1px solid #355089;
  float: left;
  margin-top: 4px;
}

.feed-header-menu-icon-container {
  float: left;
}

.feed-header-menu-icon-container img{
  height: 22px;
  margin-right: 10px;
}

#second-divider {
  display: inline-block;
  width: 0;
  height: 1em;
  border-left: 1px solid #355089;
  border-right: 1px solid #355089;
  float: left;
  margin-top: 4px;
  margin-left: 10px;
  margin-right: 20px;
}

.feed-header-menu-logout {
  float: left;
  margin-right: 5px;
}

.feed-header-menu-logout button{
  height: 50px;
  height: 21px;
  background-color: #3B5998;
  padding: 1px 10px;
  position: absolute;

  color: white;
  border-radius: 5px;
  border: 1px solid black;
  font-weight: bold;
  font-size: 12px;
}

/* feed menu =========================================*/
.feed-main-content-container {
  width: 1010px;
  height: 1010px;
  margin-left: 18%;
  position: relative;
  padding-top: 15px;
}

#feed-menu {
  width: 17%;
  float: left;
  margin-right: 2%;

  font-size: 12px;
  color: #1d2129;
}

.feed-menu-item-container {
  width: 185px;
  height: 25px;
  display: flex;
  align-items: center;
}

.feed-menu-icon {
   height: 20px;
   width: 20px;
   margin-right: 5px;
}

#feed-news {
  width: 50%;
  float: left;
  margin-right: 2%;
}

.feed-search-post-container {
  background-color: white;
  width: 100%;
  height: 120px;
  border-bottom: 1px solid #E3E6E9;
  position: relative;
}

.feed-search-post-container img{
  width: 100px;
  height: 100px;
  float: left;
  margin: 10px;
}

.feed-search-post-container h1 {
  float: left;
}

.feed-search-post-container span {
  font-weight: bolder;
  font-size: 14px;
}

.feed-search-post-buttons {
  position: absolute;
  right: 10px;
  top: 15px;
}

.feed-search-post-buttons button {
  height: 25px;
  border: 1px solid #E3E6E9;
  background-color: #F6F7F9;
  padding: 0 10px;
}

.feed-search-post-buttons button img{
  width: 15px;
  height: 15px;
  margin: 1px 5px 0 4px;
}

.feed-search-post-buttons button span{
  font-size: 12px;
  font-weight: bold;
  margin: 0;
}

.feed-search-post-buttons select {
  width: 45px;
  height: 25px;
  border: 1px solid #E3E6E9;
  background-color: #F6F7F9;
  padding-left: 10px;
}

#feed-ads {
  width: 29%;
  float: left;
  background-color: orange;
}

#search-mid {
  width: 50%;
  float: left;
  margin-right: 2%;
}

#search-content-fix {
  padding-top: 59px;
}

#feed-menu h2 {
  font-size: 11px;
  color: #666666;
  font-weight: 700;
  margin-top: 10px;
}

/*new post ================================ */
#new-post {
  width: 100%;
  /*height: 180px;*/
  border: 1px solid #DFE0E4;
  margin-bottom: 10px;
}

#new-post-input {
  /*display: flex;
  align-items: center;
  height: 40%;*/
  background-color: white;
  border-bottom: 1px solid #E9EBEE;
  padding: 20px 0;
}

#new-post-input-profilepic {
  height: 40px;
  width: 40px;
  margin: 0 15px;
}

.new-post-input-pic {
  max-width: 80%;
  max-height: 300px;
  margin: 20px 10% 10px;

}

#new-post-input textarea {
  height: 60%;
  width: 80%;
  border: none;
  resize: none;
}

#new-post-options {
  height: 40%;
  display: flex;
  align-items: center;
  background-color: white;
  padding: 20px;
}

#new-post-options button{
  width: 125px;
  height: 35px;
  margin-left: 15px;
  border-radius: 20px;
  background-color: #F6F7F9;
  border: none;

  display:flex;
  align-items: center;
  padding-left: 15px;
}

#new-post-options img{
  height: 15px;
  width: 15px;
  margin-right: 10px;
}

#new-post-options span{
  font-size: 12px;
  font-weight: bolder;
}

#new-post-post {
  background-color: #F6F7F9;
  height: 20%;
  display: flex;
  align-items: center;
  padding-left: 85%;
  padding-top: 10px;
  padding-bottom: 10px;
}

#new-post-post button {
  width: 60px;
  height: 25px;
  border-radius: 5px;
  font-size: 12px;
  color: white;
  font-weight: bolder;
  background-color: #3B5998;
}

.post-container {
  width: 100%;
  margin-bottom: 10px;
  border: 1px solid #DFE0E4;
  margin-bottom: 7px;
}

#post-user {
  height: 50px;
  background-color: white;
  padding: 7px;

}

#post-user-pic {
  float: left;
  margin-right: 5px;
}

#post-user-pic img {
  height: 40px;
  width: 40px;
}

#post-user-info {
  float: left;
}

#post-user-info h1 {
  font-weight: bold;
  font-size: 14px;
  color: #365899;
}

#post-user-info h3 {
  font-size: 12px;
  color: #90949c;
}

#post-content {
  border-bottom: 1px solid #E9EBEE;
  background-color: white;
  padding: 7px;

}

#post-content p {
  font-size: 14px;
  color: #1d2129;
  margin-bottom: 20px;
}

#post-content img {
  max-width: 80%;
  max-height: 300px;
  margin-left: 10%;
}

#post-content iframe {
  max-width: 80%;
  max-height: 300px;
  margin-left: 10%;
}

#post-num-likes {
  background-color: #F6F7F9;
  height: 39px;
}

#post-num-likes img {
  height: 16px;
  width: 16px;
  margin-right: 3px;
}

#post-num-likes span {
  font-size: 12px;
  color: #375899;
}

#post-like-comment {
  display: flex;
  align-items: center;
  height: 31px;
  background-color: white;
  border-bottom: 1px solid #E9EBEE;
  padding: 7px;

}

#post-like-comment img {
  height: 14px;
  width: 14px;
  margin-right: 5px;
}

#post-like-comment span {
  font-size: 12px;
  color: #7f7f7f;
  font-weight: bold;
  margin-right: 40px;
}

#post-num-likes {
  border-bottom: 1px solid #E9EBEE;
  display: flex;
  align-items: center;
  padding: 7px;

}

#post-write-comment {
  height: 42px;
  background-color: #F6F7F9;
  padding: 7px;

}

#post-write-comment img {
  height: 32px;
  width: 32px;
  margin-right: 5px;
}

#post-write-comment textarea {
  width: 85%;
  height: 30px;
  background-color: white;
  resize: none;
  border: 1px solid #BDC7D8;
}

/* friend requests ============================= */
#friend-requests-content-container {
  margin-top: 20px;
  width: 1000px;
  margin-left: 19%;
}

#friend-requests-content {
  width: 69%;
  height: 600px;
  background-color: white;
  float: left;
  margin-right: 2%;
  padding: 20px 10px;
}

#friend-requests-title {
  padding-bottom: 15px;
  border-bottom: 1px solid #E9EBEE;
  padding-left: 13px;
}

#friend-requests-title h1 {
  color: #1d2129;
  font-size: 14px;
  font-weight: bold;
}

#friend-requests-title h4 {
  color: #365899;
  font-size: 11px;
}

.friend-request-item {
  width: 645px;
  height: 100px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #E9EBEE;
}

#friend-request-info {
  width: 50%;
  float: left;
}

#friend-request-info img{
  height: 75px;
  width: 75px;
  float: left;
  margin-right: 5px;
}

#friend-request-info-text {
  float: left;
}

#friend-request-info h2 {
  color: #365899;
  font-size: 13px;
}

#friend-request-info h3 {
  color: #90949c;
  font-size: 12px;
}

#friend-request-buttons {
  width: 50%;
  float: left;
  display: flex;
  align-items: center;
  padding-left: 130px;
}

#friend-request-buttons-confirm {
  background-color: #4267B2;
  color: white;
  font-size: 12px;
  border: 1px solid #E3E6E9;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
}

#friend-request-buttons-delete {
  font-size: 12px;
  color: #1d2129;
  background-color: #F6F7F9;
  border: 1px solid #E3E6E9;
  margin-left: 5px;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 3px;
}

/* profile ===========================================================*/
#profile-container {
  width: 100%;
  background-color: #E9EBEE;
}

#profile-content-container {
  width: 850px;
  margin-left: 19%;
  height: 500px;
}

#profile-hero {
  width: 100%;
  height: 358px;
  border: 1px solid #D3D6DB;
  position: relative;
  margin-bottom: 20px;
}

#profile-cover-photo {
  height: 315px;
  width: 100%;
}

#profile-cover-photo img{
  height: 100%;
  width: 100%;
}

#profile-hero-menu {
  height: 43px;
  width: 100%;
  background-color: white;
  padding-left: 200px;
}

#profile-hero-menu button {
  height: 100%;
  border: 1px solid #E9EAED;
  font-size: 14px;
  color: #365899;
  font-weight: bold;
  background-color: white;
  padding: 0px 15px;
}

#profile-profile-pic {
  background-color: white;
  height: 168px;
  width: 168px;
  padding: 3px;
  position: absolute;
  bottom: 17px;
  left: 17px;
}

#profile-profile-pic img {
  height: 100%;
  width: 100%;
}

#profile-name {
  font-size: 16px;
  color: white;
  font-weight: bolder;
  width: 250px;
  height: 60px;
  position: absolute;
  bottom: 80px;
  left: 200px;
}

#profile-hero-options {
  height: 26px;
  position: absolute;
  right: 20px;
  bottom: 60px;
}

#profile-hero-options button{
  height: 100%;
  padding: 0 10px;
  background-color: white;
  border: 1px solid #E9EAED;
}

#profile-hero-options span{
  font-size: 12px;
  font-weight: bold;
  color: #4b4f56;
}

#profile-hero-options img{
  height: 10px;
  width: 10px;
  margin-right: 5px;
}

#profile-follow-button {
  margin-left: 20px;
}

#profile-left-panel {
  width: 35%;
  height: 500px;
  float: left;
  margin-right: 5%;
}

.profile-left-panel-item {
  padding: 10px;
  background-color: white;
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid #DFE0E4;
}

.profile-left-panel-item img {
  height: 24px;
  width: 24px;
  margin-right: 10px;
  margin-top: 6px;
}

.profile-left-panel-item span {
  font-size: 16px;
  color: #1d2129;
  position: absolute;
  margin-top: 8px;
}

#profile-left-panel-item-languages {
  width: 85%;
  float: left;
}

#profile-left-panel-item-languages p{
  font-size: 12px;
  color: #365899;
}

#profile-left-panel-item-languages-add {
  width: 15%;
  float: left;
}

#profile-left-panel-item-languages-add button{
  width: 34px;
  height: 28px;
  background-color: #F6F7F9;
  border: 1px solid #DFE0E4;
}

#profile-lang {
  height: 58px;
}

#profile-main-panel {
  float: left;
  width: 60%;
  height: 500px;
}

.profile-section-container {
  width: 100%;
  border: 1px solid #CCCCCC;
  background-color: white;
}

.profile-section-title {
  width: 100%;
  height: 60px;
  background-color: #F6F7F9;
  border: 1px solid #CCCCCC;
  display: flex;
  align-items: center;
  padding-left: 15px;
}

.profile-section-title img {
  height: 25px;
  width: 25px;
  margin-right: 10px;
}

.profile-section-title h1 {
  font-size: 20px;
  color: #4b4f56
}

#profile-about-filters {
  border: 1px solid #CCCCCC;
  height: 350px;
  width: 30%;
  float: left;
  padding-left: 15px;
  background-color: white;
}

#profile-about-filters-chosen {
  color: black;
  font-weight: bold;
}

.profile-about-filters-item {
  color: #90949c;
  font-size: 14px;
  margin-top: 25px;
}

#profile-about-content {
  border: 1px solid #CCCCCC;
  height: 350px;
  width: 70%;
  float: left;
  padding-left: 15px;
  padding-top: 25px;
  background-color: white;
}

#profile-about-content img {
  height: 16px;
  width: 16px;
  margin-right: 15px;
  margin-bottom: 20px;
}

#profile-about-content span {
  color: #4b4f56;
  font-size: 12px;
  margin-bottom: 20px;
  margin-bottom: 5px;
  position: absolute;
}

#profile-friends-content-container {
  background-color: white;
  width: 100%;
  min-height: 100px;
  overflow: hidden;
}

.profile-friends-friend {
  height: 100px;
  width: 47%;
  float: left;
  border: 1px solid #E9EBEE;
  margin: 10px;
}

.profile-friends-friend img {
  height: 100px;
  width: 25%;
  float: left;
}

#profile-friends-friend-info {
  width: 75%;
  height: 100px;
  float: left;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

#profile-friends-friend-info h2{
  font-size: 14px;
  color: #365899;
  font-weight: bold
}

#profile-friends-friend-info button{
  width: 80px;
  height: 25px;
  background-color: #F6F7F9;
  border: 1px solid #DFE0E4;
  font-size: 12px;
  color: #4b4f56;
  position: absolute;
  margin-left: 175px;
}
