* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: hsr;
}

.bad-input {
  border: 1px solid red;
}

@font-face {
  font-family: hsr;
  src: url("/assets/fonts/HelvSR.woff");
}

/* auth page ============================================= */
@font-face {
  font-family: facebooklogo;
  src: url("/assets/fonts/FACEBOLF.otf");
}

#auth-logo {
  font-family: facebooklogo;
  font-size: 2.5em;
  margin-bottom: 10px;
}

#auth-header {
  background-color: cyan;
  position: relative;
  height: 85px;
}

.auth-content-container {
  background-color: orange;
  width: 1000px;
  height: 85px;
  margin: 0 auto;
  position: relative;
}

#auth-logo {
  position: absolute;
  bottom: 0px;
  color: white;
}

#auth-login-form {
  position: absolute;
  right: 0px;
  bottom: 0px;
  background-color: violet;
  width: 40%;

  font-size: 12px;
  color: white;
  padding-bottom: 18px;
}

#auth-login-email {
  float: left;
  background-color: red;
  width: 45%
}

#auth-login-password {
  float: left;
  background-color: purple;
  width: 45%
}

#auth-login-button {
  float: left;
  background-color: salmon;
  width: 10%;
}

#auth-login-button button {
  width: 40px;
  position: absolute;
  bottom: 18px;
  color: white;
  font-weight: bold;
  background-color: #4267B2;
  border: 2px solid #29487D;
}

#auth-main {
  background-color: brown;
  height: 600px;
}

#auth-main-content {
  background-color: aqua;
  height: 600px;
}

#auth-main-image-container {
  background-color: #234234;
  width: 55%;
  height: 100%;
  float: left;
  padding-top: 50px;
  text-align: center;
}

#auth-main-signup-form {
  background-color: #058309;
  width: 45%;
  float: left;
}

#auth-signup-firstname {

}
